.Album {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.Album__image {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.Album__title {
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  width: 240px;
}

.Album__artist {
  color: #b5b5b5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  width: 240px;
}

.Album__button {
 float: right;
 background-color: transparent;
 border: none;
 margin-left: auto;
}

.Album__icon {
  float: right;
  color: white;
  margin-left: auto;
}