.PlaylistSignIn {
  display: flex;
}

input {
  width: 200px;
  height: 40px;
  margin-right: 10px;
  background-color: transparent;
  border-color: white;
  border-style: none none solid none;
  color: white;
  font-size: 16pt;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.50);
}

input:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

@media (max-width: 1024px) {
  .PlaylistSignIn {
    display: block;
  }

  input {
    margin-bottom: 20px;
    text-align: center;
  }
}