.ExpandSearchItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
}

.ExpandSearchItem__button {
  float: right;
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.ExpandSearchItem__icon {
  float: right;
  color: white;
  margin-left: auto;
}