.Search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Search__input {
  font-size: calc(14px + 0.8vmin);
  text-align: center;
  
  color: #fff;
  background-color: rgba(255, 255, 255, .2);

  border: none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;

  padding: 8px 16px;
}

.Search__submit {
  font-size: calc(10px + 0.5vmin);
  font-weight: bold;
  
  /* color: #111; */
  color: rgba(79,79,159,1);
  background-color: rgba(255, 255, 255, .9);
  
  border: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;

  padding: 8px 16px;

  cursor: pointer;

  transition: background-color 100ms;

  display: flex;
  align-items: center;
}